/* Footer section */
.footer {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

.footer-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.footer a {
    color: #696969;
}