/* CSS on the middle section with the logo and search form */
.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-logo {
    padding: 30px;
}

.search-form {
    text-align: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 0 1px lightgray;
    outline: none;
    padding: 15px;
    width: 500px;
}

/* 
Shoutouts to this question for the box-shadow
https://stackoverflow.com/questions/56994693/how-avoid-form-elements-move-when-get-focus
*/

.search-bar:hover, .search-bar:focus, .search-bar:active {
    box-shadow: 0 0 1px 2px gray;
}

.search-box, .search-box:focus, .search-box:active {
    background-color: antiquewhite;
    border: none;
    outline: none;
    width: 400px;
    font-family: sans-serif;
    font-size: 14px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.buttons {
    margin-top: 10px;
}

.button {
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    margin: 0px 5px;
}

.button:hover, button:focus, button:hover {
    box-shadow: 0 0 0 1px lightgray;
}
